{{! template-lint-disable no-potential-path-strings }}

<Layout::Wrapper>
  <Layout::Stack @gap='xlarge' as |SectionItem|>
    <SectionItem>
      <h1>
        Cluster
      </h1>

      <p>
        Lay out items horizontally, but breaking the line if necessary. Each item uses its intrinsic size.
        There is equal spacing horizontally and vertically between them.
        Can be customized with
        <CodeInline @code='--layout-cluster-gap' />
        (default:
        <CodeInline @code='1rem' />
        ).
      </p>

      <p>
        The size options are quarter/half/double the gap size.
        The position can be used to align stuff to the right, or space it evenly.
        The
        <CodeInline @code='@fullWidthOnMobile' />
        option will ensure all items get the full width under 420px.
      </p>

      <p>
        If you specify
        <CodeInline @code='@gapVertical' />
        , 
        you can specify another gap size as for the horizontal spacing. By default, they use the same gap size.
        This can be useful especially when using the larger gap size, as they can appear too large vertically.
      </p>

      <p>
        Any splattributes will be added to the inner flexbox container. 
        If you need to add classes to the wrapper, you can do so via
        <CodeInline @code="@wrapperClasses='outer-class'" />
        .
      </p>
    </SectionItem>

    <SectionItem>
      <h2>
        Basic usage
      </h2>

      <CodeBlock @code={{this.clusterCode}} @language='handlebars' />
    </SectionItem>

    <SectionItem>
      <h2>
        Configuration options
      </h2>

      <Layout::Stack as |StackItem|>
        <StackItem>
          <Layout::Cluster @fullWidthOnMobile={{true}} as |Item|>
            <Item>
              <ConfigOption
                @label='@gap'
                @value={{this.clusterGap}}
                @onChange={{fn this.updateProperty 'clusterGap'}}
                @options={{array 'xsmall' 'small' 'large' 'xlarge'}}
              />
            </Item>

            <Item>
              <ConfigOption
                @label='@gapVertical'
                @value={{this.clusterGapVertical}}
                @onChange={{fn this.updateProperty 'clusterGapVertical'}}
                @options={{array 'xsmall' 'small' 'medium' 'large' 'xlarge'}}
              />
            </Item>

            <Item>
              <ConfigOption
                @label='@position'
                @value={{this.clusterPosition}}
                @onChange={{fn this.updateProperty 'clusterPosition'}}
                @options={{array 'right' 'spaced'}}
              />
            </Item>

            <Item>
              <ConfigOption
                @label='@fullWidthOnMobile'
                @value={{this.clusterFullWidthOnMobile}}
                @onChange={{fn this.updateProperty 'clusterFullWidthOnMobile'}}
                @options={{array true}}
              />
            </Item>

            <Item>
              <ConfigOption
                @label='@noWrap'
                @value={{this.clusterNoWrap}}
                @onChange={{fn this.updateProperty 'clusterNoWrap'}}
                @options={{array true}}
              />
            </Item>

            <Item>
              <ConfigOption
                @label='@verticalAlign'
                @value={{this.clusterVerticalAlign}}
                @onChange={{fn this.updateProperty 'clusterVerticalAlign'}}
                @options={{array 'top' 'bottom' 'stretch'}}
              />
            </Item>
          </Layout::Cluster>
        </StackItem>

        <StackItem>
          <Layout::Cluster
            @gap={{this.clusterGap}}
            @gapVertical={{this.clusterGapVertical}}
            @position={{this.clusterPosition}}
            @verticalAlign={{this.clusterVerticalAlign}}
            @fullWidthOnMobile={{this.clusterFullWidthOnMobile}}
            @noWrap={{this.clusterNoWrap}} as |Item|
          >
            <Item>
              <DemoItem />
            </Item>
            <Item>
              <DemoItem />
            </Item>
            <Item>
              <DemoItem />
            </Item>
            <Item>
              <DemoItem />
            </Item>
          </Layout::Cluster>
        </StackItem>
      </Layout::Stack>
    </SectionItem>

    <SectionItem>
      <h2>
        Configuration options on items
      </h2>

      <p>
        You can also specify some options on the cluster items.
      </p>
    </SectionItem>

    <SectionItem>
      <h3>
        Float items to the right
      </h3>

      <Layout::Stack as |StackItem|>
        <StackItem>
          <CodeBlock @code={{this.clusterCodeRight}} @language='handlebars' />
        </StackItem>
        <StackItem>
          <Layout::Cluster
            @gap={{this.clusterGap}}
            @gapVertical={{this.clusterGapVertical}}
            @position={{this.clusterPosition}}
            @fullWidthOnMobile={{this.clusterFullWidthOnMobile}} as |Item|
          >
            <Item>
              <DemoItem />
            </Item>
            <Item>
              <DemoItem />
            </Item>
            <Item>
              <DemoItem />
            </Item>
            <Item @float='right'>
              <DemoItem />
            </Item>
          </Layout::Cluster>
        </StackItem>
      </Layout::Stack>
    </SectionItem>

    <SectionItem>
      <h3>
        Float items to the left
      </h3>

      <Layout::Stack as |StackItem|>
        <StackItem>
          <CodeBlock @code={{this.clusterCodeLeft}} @language='handlebars' />
        </StackItem>

        <StackItem>
          <Layout::Cluster
            @gap={{this.clusterGap}}
            @gapVertical={{this.clusterGapVertical}}
            @position={{this.clusterPosition}}
            @fullWidthOnMobile={{this.clusterFullWidthOnMobile}} as |Item|
          >
            <Item>
              <DemoItem />
            </Item>
            <Item @float='left'>
              <DemoItem />
            </Item>
            <Item>
              <DemoItem />
            </Item>
            <Item>
              <DemoItem />
            </Item>
          </Layout::Cluster>
        </StackItem>
      </Layout::Stack>
    </SectionItem>

    <SectionItem>
      <h3>
        Grow items
      </h3>

      <Layout::Stack as |StackItem|>
        <StackItem>
          <CodeBlock @code={{this.clusterCodeGrow}} @language='handlebars' />
        </StackItem>

        <StackItem>
          <Layout::Cluster
            @gap={{this.clusterGap}}
            @gapVertical={{this.clusterGapVertical}}
            @position={{this.clusterPosition}}
            @fullWidthOnMobile={{this.clusterFullWidthOnMobile}} as |Item|
          >
            <Item @grow={{true}}>
              <DemoItem />
            </Item>
            <Item>
              <DemoItem />
            </Item>
            <Item>
              <DemoItem />
            </Item>
            <Item>
              <DemoItem />
            </Item>
          </Layout::Cluster>
        </StackItem>
      </Layout::Stack>
    </SectionItem>
  </Layout::Stack>
</Layout::Wrapper>