{{! template-lint-disable no-potential-path-strings }}

<Layout::Wrapper>
  <Layout::Stack @gap='xlarge' as |SectionItem|>
    <SectionItem>
      <h1>
        Stack
      </h1>

      <p>
        Place items one below each other, with equal spacing between them.
        Can be customized with
        <CodeInline @code='--layout-stack-gap' />
        (default:
        <CodeInline @code='1rem' />
        ).
      </p>

      <p>
        The size options are quarter/half/double of the gap size.
        The separator color can be customized with
        <CodeInline @code='--layout-stack-separator-color' />
        (default:
        <CodeInline @code='grey' />
        ).
      </p>
    </SectionItem>

    <SectionItem>
      <h2>
        Basic usage
      </h2>

      <CodeBlock @code={{this.stackCode}} @language='handlebars' />
    </SectionItem>

    <SectionItem>
      <h2>
        Configuration options
      </h2>

      <Layout::Stack as |StackItem|>
        <StackItem>
          <Layout::Cluster @fullWidthOnMobile={{true}} as |Item|>
            <Item>
              <ConfigOption
                @label='@gap'
                @value={{this.stackGap}}
                @onChange={{fn this.updateProperty 'stackGap'}}
                @options={{array 'none' 'xsmall' 'small' 'large' 'xlarge'}}
              />
            </Item>

            <Item>
              <ConfigOption
                @label='@withSeparator'
                @value={{this.stackWithSeparator}}
                @onChange={{fn this.updateProperty 'stackWithSeparator'}}
                @options={{array true}}
              />
            </Item>
          </Layout::Cluster>
        </StackItem>

        <StackItem>
          <Layout::Stack
            @gap={{this.stackGap}}
            @withSeparator={{this.stackWithSeparator}} as |Item|
          >
            <Item>
              <DemoItem />
            </Item>
            <Item>
              <DemoItem />
            </Item>
            <Item>
              <DemoItem />
            </Item>
          </Layout::Stack>
        </StackItem>
      </Layout::Stack>
    </SectionItem>
  </Layout::Stack>
</Layout::Wrapper>